.create-new-password {
    background-color: #000000;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   height:100vh;
   width:1750px;
  }
  
  .form-container {
    background-color: #000000;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    position: relative;
  }
  
  .logo {
    width: 150px;
    height: auto;
    margin-bottom: 30px;
  }
  
  .title {
    color: #fff;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .input-wrapper {
    position: relative;
    margin-bottom: 20px;
  }
  
  .password-input {
    width: 425px;
    padding: 14px 50px 14px 18px;
    font-size: 16px;
    background-color: #222;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    color: white;
    outline: none;
  }
  
  .toggle-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .toggle-icon img {
    width: 20px;
    height: 16px;
  }
  
  .confirm-button {
    background-image: linear-gradient(to right,#025BCF,#2F847F );
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  